@font-face{ font-family:mono_regular;src: url(font/ChivoMono-Regular.ttf);}

#OB {
	overflow:auto;
}

.OBR_A div, .OBR_B div, .OBR_AB div{
	font-family:mono_regular !important;
}

.OBH, .OBR_A, .OBR_B, .OBR_AB {
	display:grid;
	grid-template-columns: 25% 25% 25% 25%;
}

.OBH div {
	font-size:1.25em;
	margin-bottom: 10px;
}
.OBH div:nth-child(1), .OBH div:nth-child(2), .OBH div:nth-child(3) {
	text-align:center;
}

#OBP span {
	font-size:2em;
}


#OB button, #OB input {
	background:none;
	padding:2px;
	border-radius:100px;
	border:none;
}
#OB input {
	background:#44447744;
	width:50%;
	text-align:center;
}

#OB img {
	width:16px;
	vertical-align: top;
}

.OBR_A div:nth-child(1), .OBR_A div:nth-child(2), .OBR_A div:nth-child(3),
.OBR_B div:nth-child(1), .OBR_B div:nth-child(2), .OBR_B div:nth-child(3),
.OBR_AB div:nth-child(1), .OBR_AB div:nth-child(2), .OBR_AB div:nth-child(3) {
	margin: auto 20px;
}

.OBR_A div:first-child,
.OBR_B div:first-child,
.OBR_AB div:first-child{
	text-align: right;
}
.OBR_A div:nth-child(2),.OBR_A div:nth-child(3),
.OBR_B div:nth-child(2), .OBR_B div:nth-child(3),
.OBR_AB div:nth-child(2), .OBR_AB div:nth-child(3) {
	text-align: right
}

.OBH {
	background: #111b;
	padding-top: 10px;
}

.OBR_A {
	background: #FF000017;
}

.OBR_B {
	background: #00CC0017;
}

.OBR_AB {
	background: #0000ff17;
}


.OBR_A:hover, .OBR_B:hover, .OBR_AB:hover {
	background: #0044ff44;
}

.OBR_AB, #OBR_AB, .OBR_AB {
	background: #00f;
	font-size: 1.25em;
}
.OBR_AB div img {
	width: 20px !important;
	vertical-align: !important;
}

#OB {
	font-size: 0.8em;
}

#OBOOK {
}

#OBH_B {
	display:none;
}

@media(min-width:641px){
	#OBOOK {
		display: grid;
		grid-template-columns: 50% 50%;
	}

	#OBH_B {
		display:grid;
	}
}